---
const { title } = Astro.props;
---

<header>
  <nav>
    <h1>{title}</h1>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 1em;
    background: white;
    border-bottom: 1px solid rgb(var(--gray-dark));
  }

  h1 {
    margin: 0;
    font-size: 1.6em;
    letter-spacing: 0.5em;
    font-weight: lighter;
    text-align: center;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
  }
</style>
