---
import BaseLayout from "./RecipeBase.astro";
const { title, madeFor, heroImage } = Astro.props.frontmatter;
const props = Astro.props;
const background = heroImage ? `url('${heroImage}')` : "none";
const today = new Date();
---

<BaseLayout {...props}>
  <style define:vars={{ background }}>
    div.image-container {
      background-image: var(--background);

      /* Full height */
      height: 100vh;

      /* Center and scale the image nicely */
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <style>
    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      div.page {
        margin: 0.75in 0.5in;
      }
    }

    div.image-container {
      page-break-after: always;
      break-after: always;
    }
  </style>
  <style>
    header {
      margin: 0;
      border-bottom: 1px solid rgb(var(--gray-dark));
    }

    h1 {
      margin: 0 0 0.5em 0;
      font-size: 1.6em;
      letter-spacing: 0.5em;
      font-weight: lighter;
      text-align: center;
    }

    article {
      padding: 3em;
    }

    footer {
      margin-top: 3em;
      text-align: center;
      font-size: 0.8em;
      color: rgb(var(--gray-dark));
    }
  </style>
  <style is:global>
    ul {
      max-width: 60%;
    }
  </style>

  <main>
    <div class="image-container"></div>
    <div class="page">
      <header>
        <h1>{title}</h1>
      </header>
      <article>
        <slot />
        <footer>
          Made for {madeFor} by COOKBOOKIA &copy; {today.getFullYear()}. All
          rights reserved.
        </footer>
      </article>
    </div>
  </main>
</BaseLayout>
